{% extends 'base.html' %}

{% block main-section %}
{% load static %}
<h2>About</h2>
<section id="about-info">
    <p>
        Thank you for  visiting the about page to learn more about the Gamer Journey web app!
        <br><br>
        My name is <a href="https://github.com/gonz1247" target="_blank">Gonzo</a> and this the first web app I've made.
        I got the idea for this project since I am huge fan of video games, but also movies. For my movie watching hobby I
        use <a href="https://letterboxd.com/" target="_blank">Letterboxd</a> to track everything I am watching, so I thought
        it would be cool if there was a similar app for playing video games.
        <br><br>
        Currently, I am an aerospace engineer but, I am hoping to pivot my career to software engineering hopefully soon.
        I am hopeful that continuing to work on personal projects like Gamer Journey will help me to develop the skills and
        portfolio necessary to make the switch in careers.
        <br><br>
        Thanks again for checking out my project!
    </p>
</section>
{% endblock  %}