{% extends 'base.html' %}

{% block main-section %}
{% load static %}
<h2>Credits</h2>
<p>This project would not be possible without these wonderful resources</p>
<dl>
    <dt>IGDB API</dt>
        <dd>
            <a href="https://www.igdb.com/api" target="_blank">Website</a>
        </dd>
    <dt>Favicon</dt>
        <dd>
            <img src="{% static 'joystick-7426480_640.jpg' %} " alt="favicon image" width="200">
            <p>Image by <a href="https://pixabay.com/users/juliandipietrantonio-29412451/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7426480" target="_blank">Julian Di Pietrantonio</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7426480" target="_blank">Pixabay</a><p>
        </dd>
    <dt>App Logo</dt>
        <dd>
            <img src="{% static 'ai-generated-8531096_1280.png' %} " alt="app logo" width="200">
            <p>Image by <a href="https://pixabay.com/users/araxhs-6105468/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8531096">Araxhs Official</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8531096">Pixabay</a><p>
        </dd>
    <dt>Welcome Page Pictures </dt>
        <dd>
            <img src="{% static 'controller-7692999_640.png' %} " alt="controller1" width="200">
            <p>Image by <a href="https://pixabay.com/users/colascassandra91-16507472/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7692999">Cassandra Colas</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7692999">Pixabay</a><p>
        </dd>
        <dd>
            <img src="{% static 'game-5357587_640.png' %} " alt="controller2" width="200">
            <p>Image by <a href="https://pixabay.com/users/bricketh-1005143/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5357587">Brick</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5357587">Pixabay</a><p>
        </dd>
        <dd>
            <img src="{% static 'controller-1486900_640.png' %} " alt="controller3" width="200">
            <p>Image by <a href="https://pixabay.com/users/ccheminot-949172/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1486900">C Cheminot</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1486900">Pixabay</a><p>
        </dd>
        <dd>
            <img src="{% static 'monitor-32232_640.png' %} " alt="controller4" width="200">
            <p>Image by <a href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=32232">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=32232">Pixabay</a><p>
        </dd>
        <dd>
            <img src="{% static 'nintendo-switch-6694997_640.png' %} " alt="controller5" width="200">
            <p>Image by <a href="https://pixabay.com/users/nablagrange-364827/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6694997">Patrick Schwarz</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6694997">Pixabay</a><p>
        </dd>
        <dd>
            <img src="{% static 'video-game-6529701_640.png' %} " alt="controller6" width="200">
            <p>Image by <a href="https://pixabay.com/users/nicolepineda-22495526/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6529701">Nicole Pineda</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6529701">Pixabay</a><p>
        </dd>
        <dd>
            <img src="{% static 'game-7154684_640.png' %} " alt="controller7" width="200">
            <p>Image by <a href="https://pixabay.com/users/hsnfirdaus-3317270/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7154684">Muhammad Hasan Firdaus</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7154684">Pixabay</a><p>
        </dd>
        <dd>
            <img src="{% static 'ps4-5172918_640.png' %} " alt="controller8" width="200">
            <p>Image by <a href="https://pixabay.com/users/everesd_design-16482457/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5172918">everesd_design</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5172918">Pixabay</a><p>
        </dd>
</dl>
{% endblock  %}