{% extends 'base.html' %}

{% block main-section %}
{% if error %}
    <dd style="color: red">{{ error }}</dd>
{% endif %}
<form action="." method="post">
    {% csrf_token %}
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" autocomplete="off" required>
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" autocomplete="off" required>
    </p>
    <button type="submit">Login</button>
</form>
<form action="/profile/register/">
    <button type="submit">Create Account</button>
</form>

{% endblock %}