{% extends 'base.html' %}

{% block main-section %}
<section id="patron-welcome">
    {% if user.first_name %}
    <h2>{{user.first_name}}'s Profile Page</h2>
    {% else %}
    <h2>{{user.username}}'s Profile Page</h2>
    {% endif %}
</section>

{% if success_message %}
<section id="action-feedback">
    <p style="color: #00779f">{{success_message}}</p>
</section>
{% endif %}

<hr>

<section id="profile-overview">
    <article id="info">
        <details>
            <summary>Profile Info</summary>
            <fieldset>
                <p>First Name: {{ user.first_name}}</p>
                <p>Last Name: {{ user.last_name}}</p>
                <p>Email: {{ user.email}}</p>
                <p>Favorite Platform : {{ user.patron.fav_platform}}</p>
                <a href="/profile/update/"><button type="submit">Update Profile</button></a>
                <a href="/profile/update/pw"><button type="submit">Change Password</button></a>
            </fieldset>
        </details>
    </article>

    <article id="stats">
        <details>
            <summary>Gaming Stats</summary>
            <fieldset>
                {% if most_recent_game != 'N/A' %}
                {% if most_recent_game != 'N/A' %}
                <p>
                    Most Recent Game: {{ most_recent_game.title }}
                    <br>
                    <img src="{{most_recent_game.cover_art}}" alt="{{most_recent_game.title}} cover art">
                </p>
                {% else %}
                   <p>Add Games To Diary To See Gaming Stats</p>
                {% endif %}
                {% if fav_game != 'N/A' %}
                <p>
                    Favorite Game: {{ fav_game.title }}
                    <br>
                    <img src="{{fav_game.cover_art}}" alt="{{fav_game.title}} cover art">
                </p>
                {% endif %}
                {% if longest_game != 'N/A' %}
                {% endif %}
                {% if longest_game != 'N/A' %}
                <p>
                    Game With Most Hours In: {{ longest_game.title }}
                    <br>
                    <img src="{{longest_game.cover_art}}" alt="{{longest_game.title}} cover art">
                </p>
                {% endif %}
                {% if fav_genre != 'N/A' %}
                {% endif %}
                {% if fav_genre != 'N/A' %}
                <p>Favorite Genre: {{ fav_genre }}</p>
                {% endif %}
                {% if fav_theme != 'N/A' %}
                {% endif %}
                {% if fav_theme != 'N/A' %}
                <p>Favorite Theme In Games: {{ fav_theme }}</p>
                {% endif %}
                {% endif %}
            </fieldset>
        </details>
    </article>
</section>
{% endblock %}