{% extends 'base.html' %}

{% block main-section %}
<table id="diary">
    <caption>
        {% if user.first_name %}
            {{user.first_name }}'s Diary
        {% else %}
            {{ user.username }}'s Diary
        {% endif %}
    </caption>
    <thead>
        <tr>
            <th>Completed Date</th>
            <th>Cover Art</th>
            <th>Game Title</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entry in diary reversed %}
        <tr>
            <th>{{ entry.completed_date }}</th>
            <th><img src="{{ entry.game.cover_art}}" alt="Game Cover Art"></th>
            <th>{{ entry.game.title }}</th>
            <th>
                {% if entry.rating >= 0 %}
                    {{ entry.rating }}
                {% else %}
                    N/A
                {% endif %}
            </th>
            <th>
                <a href="view/{{ entry.id }}/"><button type="submit">View Details</button></a>
                <br>
                <a href="edit/{{ entry.id }}/"><button type="submit">Edit Entry</button></a>
                <br>
                <a href="delete/{{ entry.id }}/"><button type="submit">Remove From Diary</button></a>
            </th>
        </tr>
    {% empty %}
        <tr><th colspan="4">No Games Have Been Added To Your Diary Yet!</th></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}