{% extends 'base.html' %}

{% block main-section %}
<fieldset>
    <h2>
        {{ entry.game.title }}
        <br>
        <img src="{{ entry.game.cover_art }}" alt="Game Cover Art">
    </h2>
    <p>Review By: {{ entry.patron.user.username }}</p>
    <p>Platform: {{ entry.platform.device }}</p>
    <p>{{ entry.rating }} / 5.0 stars</p>
    <p>
        {% if entry.completion_status %}
            Completed on
        {% else %}
            Finished playing on
        {% endif %}
        {{ entry.completed_date }}
        {% if entry.hours %}
            after {{ entry.hours }} hours of playtime
        {% endif %}
    </p>
    <hr>
    <p>{{ entry.review }}</p>
</fieldset>
<a href="/diary/">
    <button type="submit">Return to my diary</button>
</a>
<br>
<a href="/diary/view/all/{{ entry.game.game_id }}">
    <button type="submit">See more reviews of this game</button>
</a>
{% endblock %}