{% extends 'base.html' %}

{% block main-section %}
<fieldset id="{{ game.title }}-diary-entry">
    <h2>
        {{ game.title }}
        <br>
        <img src="{{ game.cover_art }}" alt="Game Cover Art">
    </h2>
    <p>Review By: {{ entry.patron.user.username }}</p>
    <p>Platform: {{ entry.platform }}</p>
    <p>
        {% if entry.rating >= 0 %}
            {{ entry.rating }} / 5.0 stars
        {% endif %}
    </p>
    <p>
        {% if entry.completion_status %}
            Completed on
        {% else %}
            Finished playing on
        {% endif %}
        {{ entry.completed_date }}
        {% if entry.hours %}
            after {{ entry.hours }} hours of playtime
        {% endif %}
    </p>
    <hr>
    <p>{{ entry.review }}</p>
</fieldset>
<section id="action-buttons">
    <a href="/diary/"><button type="submit">Return to my diary</button></a>
    <a href="/diary/view/all/{{ game.game_id }}/"><button type="submit">See more reviews of this game</button></a>
</section>
{% endblock %}