{% extends 'base.html' %}

{% block main-section %}
<h2>
    {{ game.title }}
    <br>
    <img src="{{ game.cover_art }}" alt="Game Cover Art">
</h2>
<section id="{{ game.title }}-review-stats">
    {% if review_stats %}
    <p>Average rating: {{ review_stats.ave_rating }} / 5.0</p>
    {% endif %}
</section>
{% for entry in entries %}
<fieldset id="{{ entry.patron.user.username }}-review">
    <p>Review By: {{ entry.patron.user.username }}</p>
    <p>Platform: {{ entry.platform.device }}</p>
    <p>
        {% if entry.rating >= 0 %}
            {{ entry.rating }} / 5.0 stars
        {% endif %}
    </p>
    <p>
        {% if entry.completion_status %}
            Completed on
        {% else %}
            Finished playing on
        {% endif %}
        {{ entry.completed_date }}
        {% if entry.hours %}
            after {{ entry.hours }} hours of playtime
        {% endif %}
    </p>
    <hr>
    <p>{{ entry.review }}</p>
</fieldset>
<br>
{% endfor %}
<section id="action-buttons">
    <a href="/">
        <button type="submit">Return to home page</button>
    </a>
</section>
{% endblock %}