<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
    {% include "header.html" %}

    <hr>

    <main>
        {% load static %}
        <h2>Credits</h2>
        <p>This project would not be possible without these wonderful resources</p>
        <dl>
            <dt>Favicon</dt>
                <dd>
                    <img src="{% static 'joystick-7426480_640.jpg' %} " alt="favicon image" width="200">
                    <p>Image by <a href="https://pixabay.com/users/juliandipietrantonio-29412451/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7426480">Julian Di Pietrantonio</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7426480">Pixabay</a><p>
                </dd>
        </dl>

    </main>

    <hr>

    {% include 'footer.html' %}

</body>

</html>