<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Gonzo">
    <meta name="description" content="This is the landing page for the gamer-journey web app">
    <title>Gamer-Journey</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
</head>

<body>
    <header>
        <!-- TODO: Add in a header for the webpage -->
        <h1>Gamer Journey</h1>
    </header>

    <hr>

    <main>
        <!-- TODO: Add in a content index page -->
    </main>

    <hr>

    <footer>
        <!-- TODO: Add a footer for the webpage -->
    </footer>

</body>

</html>