{% extends 'base.html' %}

{% block main-section %}
<main>
    <form action="." method="POST">
        {% csrf_token %}
        {% if searched_title %}
        <input type="text" name="title" id="title" value="{{ searched_title }}" required>
        {% else %}
        <input type="text" name="title" id="title" placeholder="Game Title" required>
        {% endif %}
        <button type="submit">Find Game</button>
    </form>
    {% if games %}
        <form>
            {% csrf_token %}
            <fieldset>
                <legend>Select Game</legend>
                <dl>
                {% for game in games %}
                        <dt>
                           <input type="radio" name="game_id" id="{{ game.game_id }}" value="{{ game.game_id }}" required>
                            <label for="{{ game.game_id }}">{{ game.title }}</label>
                        </dt>
                        <dd>
                            <a href="{{ game.url }}" target="_blank">
                                <img src="{{ game.cover_art }}" alt="{{ game.title }} Cover Art" width="100">
                            </a>
                        </dd>
                {% endfor %}
                </dl>
                <button type="submit" formaction="/diary/add/" formmethod="get">Add Game To Diary</button>
                <button type="submit" formaction="/profile/wishlist/" formmethod="post">Add Game To Wishlist</button>
                <button type="submit" formaction="https://httpbin.org/get" formmethod="get">Get</button>
            </fieldset>
        </form>
    {% elif no_results %}
        <p>No Results Were Returned For That Search Request</p>
    {% endif %}
</main>
{% endblock %}
