/* TODO: Update styling */
html {font-size:22px}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: #eee;
}

/* TODO: Add second link style that shows up the same whether clicked or not and maybe no underline on it  */

table, tr, th, td, caption {
border: 1px solid #eee;
font-family: 'Courier New', Courier, monospace;   
border-collapse: collapse;
padding: 0.5rem;
}